// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.buffer-top {
	margin-top: 2em;
}

.project {
	margin-bottom: 1em;

		.action {opacity: 0;}

		&:hover .action {
			opacity: 1;
			transition: opacity 0.5s ease;
		}
}
